* {
    margin: 0;
	padding: 0;
}

html {
    background-color: #222222;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

label[for=file] {
    font-size: 1.25em;
    font-weight: 700;
    background-color: #0084FF;
    border-radius: 3px;
    padding: 1% 2%;
    display: inline-block;
    transition: .3s background-color;
}

label[for=file]:hover {
    background-color: #A67B35;
    cursor: pointer;
}

#loader {
    display: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid white;
    border-top: 10px solid #0084FF;
    animation: spin 2s linear infinite;
    margin-top: 5%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error {
    display: inline-block;
    background-color: red;
    width: 30%;
    padding: 1% 2%;
    border-radius: 3px;
    margin-bottom: 1%;
}

.success {
    display: inline-block;
    background-color: green;
    width: 30%;
    padding: 1% 2%;
    border-radius: 3px;
    margin-bottom: 1%;
}